/*********************/
/* Mobile First view */
/*********************/
#combinedHeaderNavbar {
    background-color: #0B0C10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    text-align: center;
    font-family: 'Suez One', serif;
}

nav a {
    font-size: 1.5em;
    color: #C5C6C7;
    text-decoration: none;
}

/*the sub navigation menu*/
.subNav {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.subNav .subNavButton {
    font-size: 1.5em;
    border: none;
    outline: none;
    color: #C5C6C7;
    background-color: inherit;
    font-family: 'Suez One', serif;
    margin: 0;
}

/* Add a background color to navigation links on hover */
nav a:hover, .subNav:hover .subNavButton {
    background-color: #45A29E;
}

/********************************/
.subNav-content {
    font-size: 0.8em;
    display: none;
    background-color: #45A29E;
    z-index: 1;
}

.subNav-content a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.subNav-content a:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}

.subNav:hover .subNav-content {
    display: block;
}

/********************************/
/*----SubSubNav----*/
.subSubNav {
    overflow: hidden;
}

.subSubNav .subSubNavButton {
    font-size: 1.5em;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subSubNavButton {
    margin: 0;
    padding: 0;
}

/* Add a background color to navigation links on hover */
.subSubNav:hover .subSubNavButton {
    background-color: #66FCF1;
    color: #0B0C10;
    font-family: 'Suez One', serif;
}

.subSubNav-content {
    display: none;
    background-color: #66FCF1;
    z-index: 2;
}

.subSubNav-content a {
    color: #0B0C10;
    text-decoration: none;
}

.subSubNav-content a:hover {
    background-color: white;
    color: #0B0C10;
}

.subSubNav:hover .subSubNav-content {
    display: block;
}




/*----------------------------------*/




/***************/
/* Tablet view */
/***************/
@media (min-width: 768px) {
    #combinedHeaderNavbar {
        /*flex-direction: column;*/
    }
}


/*----------------------------------*/



/****************/
/* Desktop view */
/****************/
@media (min-width: 1024px) {
    #combinedHeaderNavbar {
        flex-direction: row;
    }

    nav a {
        float: right;
        font-size: 2em;
        padding: 14px 16px;
    }

    /*the sub navigation menu*/
    .subNav {
        float: right;
    }

    .subNav .subNavButton {
        font-size: 2em;
        padding: 14px 16px;
    }
/********************************/
    .subNav-content {
        font-size: 0.75em;
        position: absolute;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .subNav-content a {
        float: right;
    }
    /********************************/

    /*----SubSubNav----*/
    .subSubNav {
        font-size: 0.75em;
        float: right;
        overflow: hidden;
    }

    .subSubNav .subSubNavButton {
        font-size: 2.5em;
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }



    .subSubNav-content {
        position: absolute;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .subSubNav-content a {
        float: right;
    }
}
